img{
width:650px;
	margin: auto;
	display: block;
}
main{
	margin: auto;
	width: 80%;
	background-color: white;
	padding: 30px;
	box-shadow: 0 0 10px 1px rgba(0,0,0,.2);
}
body{
	background-color: #ccc;
}
h1{
	text-align: center;
}
#author{
	font-weight: bold;
	margin-left:0;
}
span{
	margin-left: 150px;
}